.main-row{
	width: 80%;
	height: 60vh;
	display: flex;
	padding: 10px;
	background-color: white;
}
.col-1
{
   width:49%;
   border-right: 1px solid grey;
   padding: 0 20px 0;
   margin-left:8px;
}
.col-2
{
   width:49%;
   padding: 0 20px 0;
   margin-left:8px;
}
iframe{
	height: 100vh;
	width:80%;
	border:none;
}
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0px; /* remove scrollbar space /
background: transparent; / optional: just make scrollbar invisible /
}
/ optional: show position indicator in red */
::-webkit-scrollbar-thumb {
background: #FF0000;
}
.panel-body{
	margin-right: 10vh;
}
.panel-body a{
	float: left; 
}
